@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" 

rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 98, ../images/*.png */
.images-sprite, .images-icon1, .images-icon2, .images-icon3, .images-icon4, .images-icon5, .images-icon6, .images-icon7, .images-icon8 {
  background: url('/images/../images-s3509033695.png') no-repeat;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon1 {
  background-position: 0 -49px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon2 {
  background-position: 0 -65px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon3 {
  background-position: 0 -81px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon4 {
  background-position: 0 -125px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon5 {
  background-position: 0 0;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon6 {
  background-position: 0 -111px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon7 {
  background-position: 0 -97px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-icon8 {
  background-position: 0 -141px;
}

/* line 27, ../sass/screen.scss */
.icon1-w-h-base64 {
  width: 64px;
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAQCAMAAACROYkbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJlQTFRFNrnwLavhI5zRHV56KKTZKLb5BmCKEJnEreT+FFJsHqLSCZW/R73uJ6jVF57JTsLzGVl0Vcb4DUljHmF9FlVwO4qtCUJcLYCiN7PiQLjoL63bIaflCGWREU5oCmyZJK3tHJnTDXOiCHmkEHqrBz9YOr72MrLpHZTJGI3BE4W5Dn6xCniqPcP7BnKkQMf/A26fQEBA////AAAAJqkR/wAAADN0Uk5T//////////////////////////////////////////////////////////////////8AcZ69jgAAATJJREFUeNqMz4tygkAMBdBYtLUUAV8t4FuLYGtb7/7/xzXJ8licdoazbBLU3BnpuyfTGjkMXcXcqc04d96vN2c/HzfyEeUCXu55HvjqwB9wA/KGs2924+lyOWVcxzuyQKjIIFk8tdx9s4oiIIpsXdFZxHJjxDEPONukc6uzb/wgAILAVp8GAgu+SmYp3BaLgdXdN/s0Bd4YkKZ7Gio8My1DThnyKGn2u7t9UyRJ/X+TpKAHtak/wgOfTTVYd/umzLL6x1lWUqHAz4xJL4DCnspdwGUyASYTWy9UihnK0mZy1xc9tW7AyfcB37f1RBcB8H1l0vVFT6MTcAhDIAxtPdCHAj9KRinv2hpuwPbJsaVPBX2qIh3trJyA9fGlcVzTV09OwqPD0E9f5m906+ufgF8BBgCHkpS6YkGHPQAAAABJRU5ErkJggg==');
}

/* line 33, ../sass/screen.scss */
.link-c-nth {
  padding: 40px;
  background: yellow;
}

/* line 39, ../sass/screen.scss */
.link-c-nth, article, .mod {
  font-size: 1.4em;
  color: black;
}

/* line 47, ../sass/screen.scss */
article h1 {
  color: red;
}

/* line 52, ../sass/screen.scss */
.mod {
  background: #004d00;
  padding: 10px;
}
/* line 57, ../sass/screen.scss */
.hd .mod h2 {
  font-size: 5em;
}
/* line 61, ../sass/screen.scss */
.mod .bd {
  text-shadow: 1px 2px 5px black;
  color: white;
}

/* @mixin */
/* line 76, ../sass/screen.scss */
nav a {
  text-decoration: none;
}
/* line 70, ../sass/screen.scss */
nav a:hover {
  text-decoration: underline;
  color: lime;
}

/* line 85, ../sass/screen.scss */
menu {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: lime;
}

/* line 95, ../sass/screen.scss */
.msg a {
  background: blue;
  color: white;
}
/* line 93, ../sass/screen.scss */
.msg a:hover {
  background: red;
}

/* @for */
/* line 101, ../sass/screen.scss */
.tag-1 {
  font-size: 0.7em;
}

/* line 101, ../sass/screen.scss */
.tag-2 {
  font-size: 1.2em;
}

/* line 101, ../sass/screen.scss */
.tag-3 {
  font-size: 1.7em;
}

/* line 101, ../sass/screen.scss */
.tag-4 {
  font-size: 2.2em;
}

/* line 101, ../sass/screen.scss */
.tag-5 {
  font-size: 2.7em;
}

/* @while */
/* line 109, ../sass/screen.scss */
.tags-1 {
  font-size: 0.7em;
}

/* line 109, ../sass/screen.scss */
.tags-2 {
  font-size: 1.2em;
}

/* line 109, ../sass/screen.scss */
.tags-3 {
  font-size: 1.7em;
}

/* line 109, ../sass/screen.scss */
.tags-4 {
  font-size: 2.2em;
}

/* line 109, ../sass/screen.scss */
.tags-5 {
  font-size: 2.7em;
}

/* line 109, ../sass/screen.scss */
.tags-6 {
  font-size: 3.2em;
}

/* line 109, ../sass/screen.scss */
.tags-7 {
  font-size: 3.7em;
}

/* line 109, ../sass/screen.scss */
.tags-8 {
  font-size: 4.2em;
}

/* line 109, ../sass/screen.scss */
.tags-9 {
  font-size: 4.7em;
}

/* line 109, ../sass/screen.scss */
.tags-10 {
  font-size: 5.2em;
}

/* @each 测试*/
/* line 118, ../sass/screen.scss */
.text-icons {
  background: url(/images/text.png);
}

/* line 118, ../sass/screen.scss */
.button-icons {
  background: url(/images/button.png);
}

/* line 118, ../sass/screen.scss */
.file-icons {
  background: url(/images/file.png);
}

/* line 118, ../sass/screen.scss */
.radiu-icons {
  background: url(/images/radiu.png);
}

/* line 123, ../sass/screen.scss */
.color-rgba {
  color: #ccc789;
}

/* px转换em */
/* line 132, ../sass/screen.scss */
.px-em-test h2 {
  font-size: 1.5625em;
}

/* line 136, ../sass/screen.scss */
.px-em-test h2 {
  font-size: 3.4375em;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  /* line 141, ../sass/screen.scss */
  body {
    background: red;
  }
}
/* line 146, ../sass/screen.scss */
.hds {
  font-size: 2.0625em;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 153, ../sass/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
